
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>New Job: {{jobTitle}}</title>
</head>
<body>
<h1>Hello {{ name }} {{ surname }},</h1>
<p>We are excited to inform you that your job with {{ companyName }} has been started!</p>
<p>You can access the client portal using the link below:</p>
<p>
  <a href="{{link}}">
    Access Client Portal
  </a>
</p>
<p>If you have any questions, feel free to reach out to our support team.</p>
<p>Best regards,<br>The WorkWise Team</p>
</body>

<img src=".https://github.com/COS301-SE-2024/WorkWise-Central/blob/develop/res/img/logo/WorkWiseLogo.png" alt="workwise-logo" style="width:100%; max-width:600px; height:auto; margin:auto; display:block;">

<footer style="background-color: #f2f2f2; padding: 10px 0; text-align: center;">
  <p>WorkWise Central ltd., 12 Abbey Road, Gauteng, Pretoria, 0002</p>
  <p>Email: info@workwise.com | Tel: 123-456-7890</p>
  <p>Connect with us:</p>
  <p>
    <a href="#">Facebook</a> |
    <a href="#">Twitter</a> |
    <a href="#">Instagram</a>
  </p>
</footer>
</html>
